/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 may. 2022, 1:00:50
    Author     : peybo
*/

.button {
    -fx-background-color: #268EB5;
    -fx-text-fill: white;
    -fx-background-radius: 50;
    -fx-font-size: 15px;
    
}

.background {
    -fx-background-color:   #131D20;
}

.statement {
    -fx-font-size: 15px;
    -fx-font-family: Georgia;
    -fx-text-fill: black;
}

.question-number {
    -fx-text-fill: black;
    -fx-font-size: 30px;
    -fx-font-family: Georgia;
}

.statement-container {
    -fx-background-color:  #268EB5;
}

.answer {
    /*-fx-text-fill: white;*/
    -fx-font-size: 15px;
    -fx-font-family: Georgia;
}

.answer .radio {
    -fx-background-color: white;
}

.answer .dot {
    -fx-padding: 8px;
}